#canvas {
    border:3px solid rgb(84, 84, 84);
    display: grid;
    grid-template-columns: repeat(21, 25px);
    grid-template-rows: repeat(21, 25px);
    gap: 2px;
}

#canvas {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none; /* Standard syntax */
  }
  
  
  #canvas > div::after {
    content: ''; 
    display: block;
}
